
.env
.vscode/

bbs_img/
board_img/
data/
editor/img/
flash_banner/
flash_cate/
flash_swf/
font/
ga/img/
images_new/
img/
images_newimg_naver_talk_info/
keymedi-sso-test/
master/news_share/img/
mobile_img/
monitor/img/
monitor/sample/
print_tag_pop_img/
swf/
temp/img/
upload/
wys2/

keybase_2023_03_06.tar
job5b_2023_03_06.sql
job5b.sql

*.tar
*.sql
*.mp3
*.swf

*.gif
*.jpg
